{% extends "layout.html" %}

{% block title %}
    {{ information.title}}
{% endblock %}

{% block body %}
    <div class="row justify-content-between">
        <p class="col-auto align-self-center">
            {{ information.title }} by {{ information.author }}, publised {{ information.year }}
        </p>
        <a class="btn btn-primary align-self-center" href="{{ url_for('Logout') }}" role="button" style="height: 70%;">Log Out</a>
    </div>
    {% if usercommnented != 1 %}
    <form action="{{ url_for('BookPage', book_isbn=information.isbn)}}" method="post" autocomplete="off">
        <div class="form-group">
            <input class = "form-control" type="number" name="Rating" min="0" max="5" placeholder="Enter a rating, 0-5">
        </div>

        <div class="form-group">
            <input class = "form-control" name = "Message" type = "text" placeholder="Post publicly as {{username}}">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Enter</button>
        </div>

    </form>
    {% endif %}
    {% if avgrate[0] == None %}
    <p>This book has not recieved a rating yet on our page.</p>
    {% else %}
    <p>This book was on average rated {{avgrate[0]|float}} by users on our page.</p>
    {% endif %}
    <p>This book was rated {{ gbooks }}/5 on goodreads.</p>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Rating</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <th scope="row">{{comment.username}}</th>
                <td>{{comment.rating}}/5</td>
                <td>{{comment.message}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
